services:
  app:
    image: djangodockerhub/simple-react-calculator:v1.0.0
    container_name: sr-calculator
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8081:80
    restart: always
